@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,400;1,500&display=swap");

/* -----general styling----- */

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}
body {
  background-color: rgb(2, 8, 20);
  margin: 0;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* ---style navbar ---  */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: large;
}
.logo {
  margin-top: 20px;
}

.logo img {
  height: 7vh;
  cursor: pointer;
}
.logo h3 {
  color: rgb(18, 241, 241);
  font-size: 25px;
  margin-top: -35px;
  margin-left: 50px;
  cursor: pointer;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  padding: 0px 20px;
  color: rgb(227, 238, 227);
}
.nav ul li a:hover,
.active {
  color: teal;
  font-weight: bolder;
}
.userform {
  border: 1px solid grey;
  margin-right: 100px;
  border: none;
  display: flex;
  flex-direction: row;
}
#search-input {
  flex-grow: 2;
  border: none;
  color: black;
}
#search-btn {
  background-color: teal;
  cursor: pointer;
}
.userbtn {
  background-color: rgb(2, 8, 20);
  border: none;
  cursor: pointer;
}
.loginregister {
  margin-right: 50px;
  display: flex;
}
.loginbtn {
  margin-right: 5px;
}
.loginregister a {
  text-decoration: none;
  color: white;
}
.loginregister a:hover {
  color: teal;
  font-weight: bolder;
}

/* -------style footer --------- */
.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-links {
  display: flex;
}
.footer-links li {
  list-style: none;
}
.footer-links li a {
  text-decoration: none;
}
.footer-links a:hover {
  color: teal;
  font-weight: bolder;
}
.footerbtn {
  cursor: pointer;
}
.footerbtn:hover {
  color: teal;
  font-weight: bolder;
}
.social-link a i:hover {
  color: teal;
}

/* styling the hidden login form */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.center button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  background: #d9dbdf;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.popup {
  display: none;
  background-color: rgba(216, 191, 191, 0.15);
  position: absolute;
  top: 70%;
  left: 75%;
  width: 380px;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2 {
  text-align: center;
  margin: 10px 0px 20px;
  margin: 10px, 0px, 20px;
  font-size: 20px;
}
.popup .form .form-element {
  margin: 15px 0px;
}
.popup .form .form-element button {
  padding: 10px;
  border: none;
  background-color: #010714;
  cursor: pointer;
}
.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}
.popup .form .form-element label {
  font-size: 14px;
  color: white;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
#show-login {
  padding: 10px;
  border: none;
  background-color: #232c41;
  cursor: pointer;
  font-size: large;
}
#show-login:hover {
  color: teal;
}
/* -----styling the movie cards--- */

.movie-card {
  box-shadow: 0 10px 30px -15px #d9dbdf;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
}
img {
  max-height: 400px;
}
.movie-details {
  margin-top: 50px;
  width: 400px;
  height: 400px;
}
.grp {
  margin-top: 50px;
}
.movieimg {
  max-height: 400px;
}
.container {
  display: flex;
  flex-flow: wrap;
  object-fit: contain;
}
.container2 {
  display: flex;
  flex-flow: wrap;
}
.container3 {
  display: flex;
  flex-flow: wrap;
}
.like-content {
  display: flex;
  justify-content: space-between;
}
.like-content,
.moviedetail {
  background-color: #010714;
}

/* ---------styling movie card apearing on search--------------*/
.totaldescrption {
  display: flex;
  margin-top: 90px;
  margin-left: 150px;
  gap: 30px;
  box-shadow: 0 10px 30px -15px #fafafa;
  border-radius: 40px;
  width: 60%;
}
.movieimg-full-img {
  height: 500px;
  margin-top: 40px;
}
.movie-full-card {
  margin-bottom: 40px;
  margin-top: 40px;
}
.description {
  margin-top: 40px;
  width: 600px;
  margin-bottom: 40px;
}
.description input {
  border: none;
  padding: 10px;
  color: black;
}
.description button {
  padding: 10px;
  border: none;
  margin-top: 25px;
  cursor: pointer;
  color: #010714;
}
.like-button {
  color: white;
  font-size: large;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}
.like-button:hover {
  color: red;
}

.like-button:focus {
  outline: none;
}

.fa-comment {
  color: white;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}
